{% extends 'admin/main_template.html' %}
{% block navheader %}
    Products List
{% endblock %}
{% block content %}
    <div class="content-wrapper" id="app">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">List Products</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Product</a></li>
                            <li class="breadcrumb-item active">Products</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add New Category</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/" enctype="multipart/form-data">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header border-0">
                                                <h3 class="card-title">Products</h3>
                                            </div>
                                            <div class="card-body table-responsive p-3">
                                                <div class="form-group">
                                                    <label for="product_name">Product <span style="color: red">*</span></label>
                                                    <input v-model="form.name" type="text" class="form-control" id="product_name" placeholder="Your products name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="product_description">Products Description</label>
                                                    <textarea v-model="form.description" class="form-control" id="product_description" rows="3" placeholder="Descriptions"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->

                                        <div class="card">
                                            <div class="card-header border-0">
                                                <h3 class="card-title">Pricing</h3>
                                            </div>
                                            <div class="card-body table-responsive pr-3 pl-3">
                                                <div class="row ml-3">
                                                    <div class="form-group pr-4">
                                                        <label for="product_cost">Cost <span style="color: red">*</span></label>
                                                        <input v-model="form.cost" type="number" class="form-control" id="product_cost" required placeholder="Your products cost">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="product_price">Price <span style="color: red">*</span></label>
                                                        <input v-model="form.price" type="number" class="form-control" id="product_price" required placeholder="Your products cost">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->


                                        <div class="card">
                                            <div class="card-header border-0">
                                                <div class="form-group">
                                                    <label for="tags" class="form-label">Tags <span style="color: red">*</span></label>
                                                    <select v-model="form.tag" class="form-control" name="tags" id="tags">
                                                        <option :value="0" selected disabled>Please select option</option>
                                                        <option v-for="(tag, index) in tags_list" :value="tag.id">[[tag.name]]</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- /.col-md-6 -->
                                    <div class="col-lg-6">

                                        {#Brand#}
                                        <div class="card">
                                            <div class="card-header border-0">
                                                <h3 class="card-title">Brands</h3>
                                            </div>
                                            <div class="card-body table-responsive pr-3 pl-3">
                                                <div class="form-group">
                                                    <select v-model="form.brand" class="form-control" name="brand" id="brand">
                                                        <option :value="0" selected disabled>Please select option</option>
                                                        <option v-for="(brand,index) in brands_list" :value="brand.id">[[brand.name]]</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->

                                        {#Category#}
                                        <div class="card">
                                            <div class="card-header border-0">
                                                <h3 class="card-title">Category <span style="color: red">*</span></h3>
                                            </div>
                                            <div class="card-body table-responsive pr-3 pl-3">
                                                <div class="form-group">
                                                    <select v-model="form.category" class="form-control" name="category" id="category">
                                                        <option :value="0" selected disabled>Please select option</option>
                                                        <option v-for="(category, index) in categories_list" :value="category.id">[[category.name]]</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->
                                        <div class="card">
                                            <div class="card-header border-0">
                                                <h3 class="card-title">Unit <span style="color: red">*</span></h3>
                                            </div>
                                            <div class="card-body table-responsive pr-3 pl-3">
                                                <div class="form-group">
                                                    <label for="unit" class="form-label">Units</label>
                                                    <select v-model="form.unit" class="form-control" name="unit" id="unit">
                                                        <option :value="0" selected disabled>Please select option</option>
                                                        <option v-for="(unit,index) in units_list" :value="unit.id">[[unit.name]]</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header border-0">
                                                <h3 class="card-title">Quantity</h3>
                                            </div>
                                            <div class="card-body table-responsive pr-3 pl-3">
                                                <div class="row ml-3">
                                                    <div class="form-group pr-4">
                                                        <label for="product_cost">Qty <span style="color: red">*</span></label>
                                                        <input v-model="form.qty" type="number" class="form-control" id="product_cost" required placeholder="Your products cost">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.col-md-6 -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" @click="closeModel()">
                            <i class="far fa-times-circle"></i>
                            Close
                        </button>

                        <button type="button" class="btn btn-primary" @click="onSave()"
                                v-if="status == 'add'">
                            <i class="fas fa-save"></i>
                            Save
                        </button>

                        <button type="button" id="save" class="btn btn-success" @click="onUpdate()"
                                v-if="status == 'update'">
                            <i class="fas fa-download"></i>
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {#End Insert New User#}

        {#  Pop up Product detail  #}
        <div class="modal fade" id="product_detail" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Product Detail</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row" v-for="(product, index) in product_detail">
                            <div class="preview col-md-6" style="height: 100%;margin: auto;justify-content: center;text-transform: capitalize">
                                <img src="/static/No_Image_Available.jpg" class="card-img-top p-2" style="width: 250px;">
                            </div>
                            <div class="details col-md-6" style="text-align: left;">
                                <h3 style="text-transform: capitalize">[[ product.name ]]</h3>
                                <p class="card-title" style="text-transform: capitalize">[[product.description]]</p>
                                <h4 class="card-text">Current Cost: <span style="color: red;">$[[product.cost]]</span></h4>
                                <h4 class="price">Current Price: <span style="color: red;">$[[product.price]]</span></h4>
                                <p style="display: grid; grid-template-columns: repeat(2,1fr);gap: .5rem">
                                    <mark style="background-color: yellow;color: black;border-radius:5px;text-align: center">[[product.category_name]]</mark>
                                    <mark style="background-color: yellow;color: black;border-radius:5px;text-align: center">[[product.brand_name]]</mark>
                                    <mark style="background-color: yellow;color: black;border-radius:5px;text-align: center">[[product.unit_name]]</mark>
                                    <mark style="background-color: yellow;color: black;border-radius:5px;text-align: center">[[product.tag_name]]</mark>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" @click="closeModelProduct()">
                            <i class="far fa-times-circle"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {#  Pop up user detail  #}

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <button type="button" class="btn btn-outline-primary" @click="openModel()">
                                    <i class="fas fa-plus-circle"></i>
                                    Add new
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" style="height: 450px;overflow-y:scroll;">
                                    <table class="table table-striped border">
                                        <thead class="table-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            {#                                            <th>Description</th>#}
                                            <th>Cost</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                            <th>Brand</th>
                                            <th>Unit</th>
                                            <th>Tag</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="userTableBody">
                                        <tr v-for="(product, index) in product_list">
                                            <td class="text-center">[[ index + 1 ]]</td>
                                            <td class="text-left">[[ product.name ]]</td>
                                            {#                                            <td class="text-left">[[ product.description ]]</td>#}
                                            <td class="text-left">[[ product.cost ]]</td>
                                            <td class="text-left">[[ product.price ]]</td>
                                            <td class="text-left">[[ product.category_name ]]</td>
                                            <td class="text-left">[[ product.brand_name ]]</td>
                                            <td class="text-left">[[ product.unit_name ]]</td>
                                            <td class="text-left">[[ product.tag_name ]]</td>
                                            <td style="display: flex;">
                                                <button type="button" class="btn btn-outline-secondary mr-2" @click="onDetail(product.id)">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-danger mr-2" @click="onDelete(product.id)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-warning mr-2" @click="onEdit(product)">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
{% endblock %}

{% block scriptjs %}
    <script>
        const {createApp} = Vue;
        createApp({
            delimiters: ['[[', ']]'],
            created() {
                this.getFetch()
            },
            data() {
                return {
                    status: 'add',
                    tags_list: [],
                    units_list: [],
                    brands_list: [],
                    categories_list: [],
                    product_list: [],
                    form: {
                        name: "",
                        description: "",
                        cost: "",
                        price: "",
                        tag: 0,
                        brand: 0,
                        category: 0,
                        unit: 0,
                        qty: 0
                    },
                    product_id: null,
                    product_detail: null
                };
            },
            methods: {
                openModelProduct() {
                    $('#product_detail').modal('show')
                },
                closeModelProduct() {
                    $('#product_detail').modal('hide')
                    this.clearCode()
                },
                openModel() {
                    $('#myModal').modal('show')
                },
                closeModel() {
                    $('#myModal').modal('hide')
                    this.clearCode()
                },
                getFetch() {
                    let vm = this
                    $.LoadingOverlay("show");
                    let url_api = "http://127.0.0.1:5000/getProduct"
                    // Make a request for a user with a given ID
                    axios.get(url_api)
                        .then(function (response) {
                            // handle success
                            vm.product_list = response.data.products_list
                            vm.brands_list = response.data.brands_list
                            vm.categories_list = response.data.categories_list
                            vm.tags_list = response.data.tags_list
                            vm.units_list = response.data.units_list

                            $.LoadingOverlay("hide")
                        })
                        .catch(function (error) {
                            alert("error")
                            console.log(error);
                        });
                },
                onDelete(product_id) {
                    Swal.fire({
                        title: "Do you want to delete this Product?",
                        showDenyButton: true,
                        confirmButtonText: "Delete",
                        denyButtonText: `cancel`
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            let vm = this
                            $.LoadingOverlay("show");

                            let url_api = "http://127.0.0.1:5000/delete_product"
                            // Make a request for a user with a given ID
                            axios.post(url_api, {product_id: product_id})
                                .then(function (response) {
                                    // handle success
                                    vm.getFetch()
                                    $.LoadingOverlay("hide")
                                })
                                .catch(function (error) {
                                    alert("error")
                                    console.log(error);
                                });
                        } else if (result.isDenied) {
                            //
                        }
                    });
                },
                clearCode() {
                    this.form = {
                        name: "",
                        description: "",
                        cost: "",
                        price: "",
                        tag: 0,
                        brand: 0,
                        category: 0,
                        unit: 0,
                        qty:0
                    }

                },
                onSave() {
                    if (this.form.name == null || this.form.name == '') {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "Name field can't empty...!",
                        });
                        return
                    }

                    let currect_product = {
                        name: this.form.name,
                        description: this.form.description,
                        cost: this.form.cost,
                        price: this.form.price,
                        tag: this.form.tag,
                        brand: this.form.brand,
                        category: this.form.category,
                        unit: this.form.unit,
                        qty:this.form.qty
                    };
                    let vm = this
                    $.LoadingOverlay("show");
                    let url_api = "http://127.0.0.1:5000/new_product"
                    // Make a request for a user with a given ID
                    axios.post(url_api, currect_product)
                        .then(function (response) {
                            vm.getFetch()
                            $.LoadingOverlay("hide");
                            vm.closeModel();
                        })
                        .catch(function (error) {
                            {#alert("error")#}
                            console.log(error);
                        });
                },
                onEdit(product, index) {
                    console.log(product)
                    this.status = 'update',
                        this.form.name = product.name,
                        this.form.description = product.description,
                        this.form.cost = product.cost,
                        this.form.price = product.price,
                        this.form.tag = product.tag_id,
                        this.form.brand = product.brand_id,
                        this.form.category = product.category_id,
                        this.form.unit = product.unit_id,
                        this.product_id = product.id
                    this.openModel()
                },
                onUpdate() {
                    let currect_product = {
                        id: this.product_id,
                        name: this.form.name,
                        description: this.form.description,
                        cost: this.form.cost,
                        price: this.form.price,
                        tag: this.form.tag,
                        brand: this.form.brand,
                        category: this.form.category,
                        unit: this.form.unit,
                    };
                    console.log(currect_product);

                    let vm = this;
                    $.LoadingOverlay("show");
                    let url_api = "http://127.0.0.1:5000/update_product";

                    // Use POST request instead of GET to update the user
                    axios.put(url_api, currect_product)
                        .then(function (response) {
                            vm.getFetch();
                            $.LoadingOverlay("hide");
                            vm.closeModel();
                        })
                        .catch(function (error) {
                            alert("error");
                            console.log(error);
                        });
                },
                onDetail(product_id) {
                    let vm = this
                    $.LoadingOverlay("show");
                    let url_api = "http://127.0.0.1:5000/products_detail?id=" + product_id
                    axios.get(url_api)
                        .then(function (response) {
                            // handle success
                            vm.product_detail = response.data
                            vm.openModelProduct()
                            $.LoadingOverlay("hide")
                        })
                        .catch(function (error) {
                            alert("error")
                            console.log(error);
                        });
                }
            },
        }).mount('#app');
    </script>
{% endblock %}