<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    {% include 'stylelink.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <center>
        <br>
        <div class="card" style="width: 65%;padding: 25px 25px;border-radius: 15px;">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <img src="/static/profile1.jpg" class="card-img-top" style="width: 350px;">
                </div>
                <div class="details col-md-6" style="text-align: left;">
                    <h2 class="card-title"><b>ST-8/9 Shop</b></h2>
                    <p class="card-text">
                        Welcome to ST-8/9, your one-stop shop for handcrafted jewelry made with ethically sourced gemstones! We design timeless pieces for the modern woman who values quality and sustainability. Explore our collection and find the perfect accessory to elevate your style.
                    </p>
                    <h5>
                        <mark style="background-color: deepskyblue;color: white;padding:5px 30px ;border-radius:5px;">Welcome to our shop</mark>
                    </h5>
                </div>
            </div>
		</div>
    </center>
    {% include "footer.html" %}
</body>
{% include 'scriptfile.html' %}
</html>