    <div class="container-fluid" style="position: sticky;top: 0;z-index: 9999;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="/" style=""><b>ST-8/9</b></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/home">HOME</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/products">PRODUCT</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/contact">CONTACT</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>